<agm-map [latitude]="49.267587" [longitude]="-123.250051" [zoom]=13>
    <agm-marker [latitude]="49.267587" [longitude]="-123.250051">
      <agm-info-window class="window">
        <div class="info"><b>AMS Food Bank</b><br><br>6138 Student Union Blvd, Vancouver, BC V6T 1Z1</div>
        <br>
        <div class="buttons">
        <button mat-flat-button color="{{requestColor}}" (click)="requestFood()" class="Reserve">{{requestStatus}}</button>
        <button routerLink="/ams" mat-flat-button color="primary" class="Details">Details</button>
      </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
