<div class="home">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="home-title">Food Secure</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="card-container">
    <mat-card routerLink="/groceries">
      <mat-card-header>
        <mat-card-title>Groceries</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="../../assets/grocery.svg" alt="Grocery Basket">
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Hot meals</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="../../assets/meal.svg" alt="Meal">
      </mat-card-content>
    </mat-card>
  </div>
</div>