<div class="main">
  <h2>AMS FoodBank</h2>
  <div class="description">
    <div class="details">
      <h3>Details</h3>
      <p>
        On each visit, individual customers receive one bag of groceries, and families receive two bags. New customers receive a complimentary reusable bag on their first visit. Make sure you keep it and bring it back next time you visit to avoid paying $2 for another one! We operate on a trust-based system and will not turn any UBC student away.
      </p>
    </div>
    <div class="usage">
      <h3>Usage</h3>
      <p>
        All current UBC students requiring emergency food relief can use the Food Bank up to six times a term. This policy is in place to ensure that supplies are only used in emergency situations and not for supplementary purposes. Terms run from September – December, January – April and May – August.
      </p>
    </div>
    <div class="hours">
      <h3>Hours</h3>
      <p>
        We are currently open on Mondays and Wednesdays from 10AM – 4PM.
      </p>
    </div>
    <div class="more-info">
      <h3>More Info</h3>
      <p>
        If our resources are not meeting your needs, our staff will provide referrals to other Lower Mainland food banks and sources of financial assistance.
      </p>
    </div>


  </div>
</div>
