.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header {
    display: flex;
    width: 100%;
    flex-direction: row;
   align-items: center;
    justify-content: space-between;
  }
  .map{
    width: 100%;
    height: 100%;
  }
  .title{
    padding: 5px;
  }
}
